* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Roboto', Arial, san-serif;
}

body {
  margin: 0;
}

.main-content {
  display: flex;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 70px;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #609bdf;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container p,
input {
  font-size: 26px;
}

.container input {
  height: 40px;
}

.container p {
  margin: 4px 0px;
  padding-left: 4px;
}

.personal-details label {
  font-size: 1.3em;
}

.input-panel {
  width: 50vw;
  margin: auto;
}

.edit-button {
  margin-left: auto;
}

.submit-button {
  margin-left: 10px;
  margin-right: 10px;
}

.edit-button,
.submit-button {
  height: 45px;
  padding: 8px 16px;
  font-size: 20px;
}

.edit-button:hover,
.submit-button:hover {
  cursor: pointer;
}

.container {
  padding: 10px 0px;
}
